@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@800&display=swap');
body {
    font-family: Oswald;
    margin: 0;
    padding: 0;
    background-color: #222222;
  }

  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }

  #clock {
    font-size: 5rem;
    font-family: Exo;
    color: #e84e3d;
    text-shadow: 2px 2px 40px rgba(232, 78, 61, 0.8);
    margin-bottom: 20px;
  }
  button {
    --bg: #e74c3c;
    --text-color: #fff;
    position: relative;
    width: 150px;
    border: none;
    background: var(--bg);
    color: var(--text-color);
    padding: 1em;
    margin: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 5px;
    opacity: 0.8;
    letter-spacing: 1px;
    box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
  }
  
  button:hover {
    opacity: 1;
  }
  
  button:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  h1{
    font-size: 4rem;
    margin: 10px;
  }